.nonHeader {
    /* style="display:flex;flex-direction:column;align-items:center;" */
    display: flex;
    background-color: white;
    overflow-y: hidden;
    flex-direction: column;
    align-items: center;
    flex: 12;
    padding: 2px;

}

h1 {
    background-color: lightgrey;
}

div {
    text-align: center;
}