#paddedUpper {
    padding: 2px;
    flex: 6;
    background-color: white;
    overflow-y: hidden;
    max-height: 50vh;
}

#mainText {
    height: 100%;
    overflow-y: scroll;
}

#lowerHalf {
    flex: 6;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    padding: 2px;
    background-color: white;
}

#leftHalf {
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 2px;
    background-color: white;
}

#paddedRight {
    padding: 2px;
    flex: 1;
    background-color: white;
    overflow-y:hidden;
}

#commandHelp {
    width: 100%;
    height: 100%;
}

#inputSeg {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    width: 100%
}

#actionInput {
    flex: 14;
}

#actionSubmit {
    flex: 1;
}

#previousInputs {
    overflow-y:hidden;
    flex:9;
    bottom: 0;
    max-height: 45vh;
    justify-content: flex-end;
}