html {
    scrollbar-gutter: stable;
}

header {
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    background-color: lightgrey;
    flex: 1;
}

.navlink {
    display: flex;
    flex: 1;
    align-items:center;
    justify-content:center;
}

.inner-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

div {
    background-color: lightgrey;
}

.padded-upper {
    padding: 2px;
    flex: 6;
    background-color: white;
    overflow-y: hidden;
    max-height: 50vh;
}

.upper-half {
    height: 100%;
    overflow-y: scroll;
}

.lower-half {
    flex: 6;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    padding: 2px;
    background-color: white;
}

.left-half {
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 2px;
    background-color: white;
}

.padded-right {
    padding: 2px;
    flex: 1;
    background-color: white;
    overflow-y:hidden;
}

.right-half {
    width: 100%;
    height: 100%;
}

.input-seg {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    width: 100%
}

.input-bar {
    flex: 14;
}

.input-button {
    flex: 1;
}

#previousInputs {
    overflow-y:hidden;
    flex:9;
    bottom: 0;
    max-height: 45vh;
    justify-content: flex-end;
}